@font-face {
  font-family: 'iconfont';  /* project id 1188990 */
  src: url('//at.alicdn.com/t/font_1188990_7nwa1cgdg6h.eot');
  src: url('//at.alicdn.com/t/font_1188990_7nwa1cgdg6h.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1188990_7nwa1cgdg6h.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1188990_7nwa1cgdg6h.woff') format('woff'),
  url('//at.alicdn.com/t/font_1188990_7nwa1cgdg6h.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1188990_7nwa1cgdg6h.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_lift:before {
  content: "\e61b";
}

.icon-add_circle:before {
  content: "\e61c";
}

.icon-check_circle:before {
  content: "\e61d";
}

.icon-close:before {
  content: "\e61e";
}

.icon-favorite:before {
  content: "\e61f";
}

.icon-remove_circle_outline:before {
  content: "\e620";
}

.icon-keyboard_arrow_right:before {
  content: "\e621";
}

.icon-shopping_cart:before {
  content: "\e622";
}

.icon-thumb_up:before {
  content: "\e623";
}

.icon-thumb_down:before {
  content: "\e624";
}

